 @font-face {
  font-family: glimmer;
  src: url("./asset/gilmer-light-webfont.woff2");
}

html{
  font-size: 62.5%;
}

#about-section{
  background: black;
}
#about-section .container .about-section-heading{
 display: flex;
 flex-direction: column;

}
#about-section .container .about-section-heading h2{
  font-family: glimmer;
  font-size: 11rem;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-left: 12rem;
  font-weight: bolder;
 

}

#about-section .container .about-section-heading .our-spell{
font-size: 7rem;
color: whitesmoke;
} 

/* #about-section .container .about-section-heading video{
  width: 70rem;
  height: 45rem;
  margin-top: 20vh;

}  */


#about-section .container .about-section-cards{
  margin: 0 9rem 0 6rem;
}

#about-section .container .about-section-cards .about-card{
  margin-bottom: 8rem;
}

#about-section .container .about-section-cards .about-card h3{
  font-size: 4rem;
  font-family: glimmer;
  color: #96DED1;
  text-transform: capitalize;
  line-height: 4.5rem;
  font-weight: bolder;
  border-left: 1px solid whitesmoke;
  padding-left: 3rem;
  padding-top: 1rem;
}

#about-section .container .about-section-cards .about-card p{
  font-size: 2rem;
  line-height: 2.5rem;
  color: whitesmoke;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  border-left: 1px solid #96DED1;
}



