#projects-section{
    height: 100vh;
    background: blueviolet;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
#projects-section .main-content{
  display: inline-flex;
}

#projects-section .main-content .card{
    width: 70vw;
    height: 100vh;
    display: flex;
    background: violet;
}
