/* @import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Prompt:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


html{
    font-size: 62.5%;
  }

  #home-page{
    overflow: hidden;
  }
#hero-section{
width: 100vw;
height: 100vh;
overflow: hidden;
background-image: url('./assets/hero-bg.png');
background-size: cover;

}

.hero-main{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 70vh;
   
}

.hero-main .hero-heading-slide{
   border-left: 3px solid whitesmoke;
   margin: 8rem 3rem 2rem 4.5rem;
   overflow-x: hidden;

}

.hero-main .hero-heading-slide h1{
    font-family: 'Inter', sans-serif;
    font-size: 9rem;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 900;
    color: whitesmoke;
    padding-left: 3rem;
    padding-top: 3rem;
    
}

.hero-main .hero-heading-slide p{
    font-family: 'Inter', sans-serif;
    font-size:2rem;
    line-height: 1.2;
    font-weight: 300;
    color:  whitesmoke; 
    padding-top: 2.4rem;
    padding-left: 3rem;
}

.hero-main .hero-heading-slide .hero-button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 400;
    color: whitesmoke;
    background: #1e9bb7;
     border: none;
    padding: 1.2rem 3rem;
    text-align: center;
    margin: 6rem 0 0 3rem;
    cursor: pointer;
    outline: none;

}

.focus-spell{
color: #1e9bb7;
}

.hero-main .hero-animation{
   display: flex;
   justify-content: center;
   align-items: center;
 
}

.hero-main .hero-animation img{
    width:60rem;
    height: auto;
   animation: rotation 3s infinite linear;
}

@keyframes rotation {
    0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-12px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* 
-------------hero -section -end------ */

#our-planning{
    overflow: hidden;
    color: black;
    width: 100vw;
    height: 100vh;
    background-color: #1e9bb7;
}

#our-planning .container{
    display: grid;
    grid-template-columns: 50% 50%;
}

#our-planning .planning-heading{
    padding: 10rem 3rem 0 7.5rem;
}

#our-planning .planning-heading h2{
    font-family: 'Inter', sans-serif;
    font-size: 9rem;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 900;
    color: #1E1C1C;
}

#our-planning .planning-heading .our-spell{
    color: #1E1C1C;
    font-size: 7rem;
    float: right;
    padding-right: 19rem;
   

    
}
#our-planning .planning-heading .planning-spell{
        -webkit-text-stroke: 2px white;
        color: transparent;
}
      


